/frontend/node_modules
/backend/.idea
/frontend/.idea
/.idea
/backend/note
/backend/data/modis
/backend/data/processed
.env
backend/combined.parquet
backend/predict_package.model
frontend/why-fires.key
frontend/why-fires_com.crt
frontend/why-fires_com.pem
/frontend/build
