@import './common.css';
@import './Dashboard.css';

/* Confidence legend */
.confidence-legend {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.confidence-item {
    display: flex;
    align-items: center;
}

.confidence-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
}

.confidence-label {
    font-size: 12px;
}

.confidence-chart {
    height: 100%;
    display: flex;
    flex-direction: column;
}